.isActiveNavLink {
    color: #3070fd !important;
    position: relative !important;
    font-weight: 700 !important;
 
}

.isActiveNavLink::after {
    content: "" !important;
    bottom: -12px !important;
    position: absolute !important;
    left: 30px !important;
    height: 2px !important;
    width: 45px !important;
    background: #3070fd !important;
  }