.headerWrapper {
  background-color: #050426;
  height: 108px;
  width: calc(100% - 30px);
  padding: 0 15px;
}

.headerInner {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: 70px;
  width: 195px;
  background-image: url("./img/logo.png");
  background-size: 100%;
  margin-top: 16px;
}

.left, right {
  flex: 1;
}

.menu {
  flex: 0 58%;
}

.nav {
  ul {
    padding: 0;
    margin: 0;
    padding-top: 40px;
  }
  li {
    list-style-type: none;
    display: inline-block;
    &.active {
      a {
        color: #3070fd;
        font-family: gothamProMed;
        position: relative;
        &::after {
          content: "";
          bottom: -12px;
          position: absolute;
          left: 30px;
          height: 2px;
          width: 45px;
          background: #3070fd;
        }
      }
    }
    a {
      color: #fff;
      font-size: 22px;
      text-decoration: none;
      padding: 0 30px;
    }
  }
}

.right {
  ul {
    padding: 31px 0;
    margin: 0;
    li {
      display: inline-block;
      margin-left: 20px;
      &.lang {
        span {
          position: relative;
          &::after {
            content: "";
            border: 4px solid transparent;
            border-top: 4px solid #3070fd;
            position: absolute;
            margin-top: 7px;
            margin-left: 7px;
          }
        }
      }
      &.exit {
        padding-left: 30px;
        &.admin {
          span {
            &::after {
              background-image: url("./img/user.png");
              width: 22px;
              height: 15px;
              top: 16px;
            }
          }
        }
        span {
          display: block;
          cursor: pointer;
          border: 1px solid #3070fd;
          border-radius: 30px;
          text-align: left;
          padding: 13px 60px 13px 30px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            background-image: url("./img/logOut.png");
            height: 19px;
            width: 19px;
            background-size: 100%;
            margin-left: 12px;
          }
        }
      }
      span {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .menu,
  .right {
    display: none;
  }
}