.preloader {
    height: 50px;
    width: 50px;
    background-image: url('./img/page-preloader.gif');
    display: block;
    background-size: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto
}

.preloaderWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}