.button {
    border: none;
    background-color: transparent;
    background: linear-gradient(to left, #015ca9 0%, #005aec 100%);
    background: -moz-linear-gradient(to left, #015ca9 0%, #005aec 100%);
    background: -webkit-linear-gradient(to left, #015ca9 0%, #005aec 100%);
    border-radius: 30px;
    color: #fff;
    padding: 17px 30px;
    font-size: 20px;
    display: block;
    margin-top: 20px;
    margin-left: 46px;
    text-align: center;
    max-width: 120px;
    cursor: pointer;
    position: relative;
}

.info {
    width: 18px;
    height: 19px;
    background-image: url('./img/info.png');
    background-size: 100%;
    cursor: pointer;
    position: absolute;
    right: -35px;
    top: 20px; 
    opacity: .5;
}

.info:hover::after {
    transition: .3s;
    opacity: 1
}

.info::after {
    content: attr(data-info);
    height: auto;
    padding: 13px;
    width: 185px;
    color: #fff;
    font-size: 11px;
    line-height: 1.2;
    display: block;
    text-align: left;
    margin-top: -65px;
    background-color: rgba(84,0,255,.4);
    border-radius: 4px;
    transition: .3s;
    opacity: 0;
}

@media screen and (max-width: 1250px) {
 .info {
     display: none;
 }
 .button {
     margin: 0 auto;
     margin-top: 20px;
 }
}