.col-50 {
  width: 48%;
  &.left {
    float: left;
  }
  &.right{
    margin-left: 25px;
    float: right;
  }
  .title-report {
    width: calc(100% - 28px) !important;
  }
}

.long-id {
  max-width: 70px;
  overflow: hidden;
}

.nav-tabs {
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      text-align: center;
      cursor: pointer;
      padding: 25px 0;
      &.not-active {
        background-color: #000043;
        border-bottom: 1px solid #33088b;
      }
    }
  }
}
.admin-body .admin-block .block-header .header-title.users:after {
  background-image: url('./img/users.png')
}
.admin-body .admin-block .block-header .header-title.bankn:after {
  background-image: url('./img/bankn.png')
}

.search {
  padding: 23px 52px;
  .search-reports {
    &.search_h22 {
      height: 22px;
      margin-left: 0;
    }
    height: 37px;
    width: 290px;
    padding-left: 44px;
    background-image: url("./img/search.png");
    background-repeat: no-repeat;
    background-position: 12px 11px;
    background-color: #00074f;
    border: 1px solid #3070fd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
}

table {
  tr {
    td {
      &.green {
        color: #02f09a
      }
      &.blue{
        color: #37bbff
      }
    }
  }
}

.singleInvestor {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, .9);
  top: 0px;
  left: 0;
  .singleInvestorInner {
    .close-modal {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 25px;
      height: 22px;
      width: 22px;
      border-left: 1px solid #031058;
      cursor: pointer;
    }
    width: 80%;
    position: relative;
    display: block;
    max-width: 1146px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: #020149;
    .popup-table {
      tr {
        th {
          &:nth-child(2) {
            padding-left: 7px;
          }
        }
        td {
          &:nth-child(2) {
            padding-left: 7px;
          }
        }
      }
    }
    .empty-char {
      min-width: 31px;
    }
    .header {
      .title {
        border-left: 1px solid #110558;
        margin-left: 65px;
        padding: 25px 0;
        padding-left: 4px;
        font-size: 20px;
        span {
          padding-left: 60px;
        }
      }
    }
    .footer-title {
      margin-left: 53px;
      padding: 20px;
      font-size: 17px;
      position: relative;
      &.title-light {
        &:after {
          content: '';
          position: absolute;
          top: 20px;
          right: 17px;
          height: 30px;
          width: 30px;
          background-size: 100% ;
          background-image: url("./InvestorReport/img/light.png");
        }
      }
      &.title-money {
        &:after {
          content: '';
          position: absolute;
          top: 20px;
          right: 0px;
          height: 30px;
          width: 30px;
          background-size: 100% ;
          background-image: url("./InvestorReport/img/money.png");
        }
      }
    }
    .footer-bottom {
      font-size: 48px;
      margin-left: 70px;
      margin-bottom: 30px;
      margin-top: 10px;
      background-color: #020149;
    }
  }
}


.border-right {
  border-right: 1px solid #270163;
}

// @media screen and (max-width: 1665px) {
//  .investitions-table-desk {
//    font-size: 10px !important;
//  }
// }

// @media screen and (max-width: 1440px) {
// .reports-table {
//   font-size: 13px;
// }
// }

@media screen and (max-width: 1440px) {
  .singleInvestor .singleInvestorInner .footer-title.title-money:after {
    right: 20px;
  }
}


@media screen and (max-width: 991px) {
  .singleInvestor .singleInvestorInner .header .title {
    margin-left: 18px;
    line-height: 1.4;
  }
  .singleInvestor .singleInvestorInner .close-modal {
    border-left: none;
  }
  .singleInvestor .singleInvestorInner {
    width: 90%;
    margin-top: 20px;
  }
  .singleInvestor .singleInvestorInner .footer-title {
    margin-left: 0;
    padding-left: 21px;
  }
  .singleInvestor .singleInvestorInner .header .title span {
    padding-left: 0;
    display: block;
    margin-top: 20px;
  }
  .investitions-mobile {
    padding-bottom: 0;
  }
  .search {
    padding: 26px 10px;
    border-bottom: 1px solid #320a8a;
  }
  .search .search-reports {
    width: calc(100% - 44px);
  }
  .nav-tabs ul li {
    font-size: 18px;
  }
  .settings-body-mobile .edit-admin-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .settings-table-mobile {
    margin: 7px;
  }
  .settings-table-mobile .reports-table {
    margin-top: 26px;
  }
}