.block {
  background-color: #000060;
  color: #fff;
  margin-bottom: 42px;
  border-radius: 2px;
}

.img {
  position: absolute;
  right: 15px;
  top: 15px;
}

.header {
  position: relative;
  padding: 23px 15px 23px 46px;
  border-bottom: 1px solid #003284;
  font-size: 20px;
  background-color: #000056;
}

.footer {
  position: relative;
  padding: 23px 15px 23px 46px;
  border-bottom: 1px solid #003284;
  background-color: #000056;
  font-size: 27px;
  font-weight: 700;
}

.course {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}

@media screen and (max-width: 1250px) {
  .header {
    padding: 15px;
  }
  .footer {
    padding: 15px;
  }
  .course {
    display: block;
    vertical-align: middle;
    margin-right: 0;
    line-height: 1.3;
  }
}