.mainContainer {
    width: 100%;
    max-width: 1654px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

@media screen and (max-width: 1673px) {
    .mainContainer {
        width: calc(100% - 30px);
        padding: 0 15px;
        padding-top: 40px;
    }
}
