@font-face {
  font-family: gothamProReg;
  src: url("./fonts/GothaProReg.otf");
}

@font-face {
  font-family: gothamProLig;
  src: url("./fonts/GothaProLig.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: gothamProReg, serif;
  background-color: #0a0433;
  color: #fff;
}

.active-link {
  color: #3070fd !important;
  font-family: gothamProMed, serif;
  position: relative;
  &::after {
    content: "";
    bottom: -12px;
    position: absolute;
    left: 30px;
    height: 2px;
    width: 45px;
    background: #3070fd;
  }
}
