/*@font-face {*/
    /*font-family: gothamProReg;*/
    /*src: url("./fonts/GothaProReg.otf");*/
/*}*/

/*@font-face {*/
    /*font-family: gothamProMed;*/
    /*src: url("./fonts/GothaProMed.otf");*/
/*}*/

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: gothamProReg;
    background-color: #050426;
}