@font-face {
  font-family: gothamProMed;
  src: url("../../../fonts/GothaProMed.otf");
}

.header-wrapper {
  background-color: #050426;
  height: 108px;
  width: calc(100% - 30px);
  padding: 0 15px;
  .header-inner {
    width: 1640px;
    display: block;
    margin: 0 auto;
    .item {
      display: inline-block;
      &.left {
        float: left;
        width: 25%;
      }
      &.right {
        float: right;
        text-align: right;
        width: 25%;
        ul {
          padding: 31px 0;
          margin: 0;
          li {
            display: inline-block;
            margin-left: 20px;
            &.lang {
              a {
                position: relative;
                &::after {
                  content: "";
                  border: 4px solid transparent;
                  border-top: 4px solid #3070fd;
                  position: absolute;
                  margin-top: 7px;
                  margin-left: 7px;
                }
              }
            }
            &.exit {
              padding-left: 30px;
              &.admin {
                a {
                  &::after {
                    background-image: url("./img/user.png");
                    width: 22px;
                    height: 15px;
                    top: 16px;
                  }
                }
              }
              a {
                display: block;
                cursor: pointer;
                border: 1px solid #3070fd;
                border-radius: 30px;
                padding: 13px 0;
                text-align: left;
                padding-left: 30px;
                padding-right: 60px;
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  background-image: url("./img/logOut.png");
                  height: 19px;
                  width: 19px;
                  background-size: 100%;
                  margin-left: 12px;
                }
              }
            }
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
      &.menu {
        width: 50%;
        padding: 25px 0;
      }
      .logo {
        height: 70px;
        width: 195px;
        background-image: url("./img/logo.png");
        background-size: 100%;
        margin-top: 16px;
      }
      nav {
        ul {
          li {
            list-style-type: none;
            display: inline-block;
            &.active {
              a {
                color: #3070fd;
                font-family: gothamProMed;
                position: relative;
                &::after {
                  content: "";
                  bottom: -12px;
                  position: absolute;
                  left: 30px;
                  height: 2px;
                  width: 45px;
                  background: #3070fd;
                }
              }
            }
            a {
              color: #fff;
              font-size: 22px;
              text-decoration: none;
              padding: 0 30px;
            }
          }
        }
      }
    }
  }
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.admin-header {
  ul {
    padding: 20px 0;
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      &:first-child {
        color: #fff;
        width: 255px;
        font-size: 20px;
      }
      &:nth-child(2) {
        width: calc(100% - 357px);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 10%;
          top: 0;
          background-color: #291764;
          height: 1px;
          width: 80%;
          margin: 0 auto;
          display: block;
        }
      }
      &:last-child {
        color: #2e71f4;
        width: 102px;
        text-align: right;
      }
    }
  }
}

.reportInvestorPage.admin-body {
  width: calc(100% - 70px) !important;
  padding-top: 0;
}


.investor-page .mobile-menu-button {
  right: 15px;
}

@media screen and (max-width: 1640px) {
  .header-wrapper .header-inner {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .header-wrapper .header-inner .item.menu {
    width: 55% !important;
    padding: 25px 0 !important;
}
.header-wrapper .header-inner .item.right {
  float: right;
  text-align: right;
  width: 20% !important;
}
}


@media screen and (max-width: 1320px) {
  .header-wrapper .header-inner .item nav ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1250px) {
  .header-wrapper .header-inner .item.menu {
    display: none;
  }
  .header-wrapper .header-inner .item.right {
    display: none;
  }
  .header-wrapper .header-inner .item .logo {
    height: 59px;
    width: 144px;
  }
  .header-wrapper {
    height: 89px;
  }
  .reportInvestorPage.admin-body {
    width: calc(100%) !important;
    padding: 0;
  }
}