.commssionBlock {
  display: block;
  position: absolute;
  margin-top: 10px;
}

.commission {
  font-size: 14px;
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.commissionTitle {
  font-size: 11px;
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

.selectWrapper {
  position: relative;
}