.other-page {
  .block-header {
    font-size: 20px !important;
    font-weight: 300;
    padding-left: 30px !important;
    .agreement-title {
      width: 100% !important;
      &:after {
        background-image: url('./img/agreement.png') !important;
      }
    }
    .bitcoin-title {
      &:after {
        background-image: url('./img/bitcoin.png') !important;
      }
    }
  }
  .right {
    .block-header {
      border: 0
    }
    .other-body {
      padding: 0px;
      padding-right: 10px;
    }
    .right-body-inner {
      padding-right: 30px;
    }
    .settings-body-desktop {
      height: 500px;
    }
  }
  .other-body {
    padding: 30px 30px;
    padding-right: 10px;
    background-color: #000060;
    .body-inner {
      height: 400px;
      padding-right: 30px;
    }
  }
  .block-footer {
    font-size: 20px !important;
    font-weight: 300;
    border-top: 1px solid #2c0f8b;
    padding: 0;
  }
}

.other-table {
  input {
    text-align: center
  }
  .month-col {
    font-size: 16px
  }
}

.green-field {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #02f09a;
}
@media screen and (max-width: 991px) {
  .other-page .right .other-body {
    padding-right: 0;
  }
  .other-page .right .block-header {
    padding-left: 12px !important;
    margin-bottom: 8px;
  }
}