.block {
    background-color: #000060;
    color: #fff;
    margin-bottom: 42px;
    border-radius: 2px;
    margin-top: -42px;
    padding-bottom: 30px;
}

.img {
    /* display: inline-block;
    vertical-align: middle; */
    position: absolute;
    right: 15px;
    top: 15px;
}

.title {
    /* display: inline-block;
    vertical-align: middle; */
}

.header {
    position: relative;
    padding: 23px 46px;
    padding-right: 15px;
    border-bottom: 1px solid #003284;
    font-size: 20px;
}

@media screen and (max-width: 1250px) {
    .header {
        padding: 15px;
    }
    .img {
        right: 5px;
        top: 7px;
    }
}