.aside {
    float: left;
    width: calc(30% - 15px);
    margin-right: 15px;
    position: relative;
    z-index: 99;
}

@media screen and (max-width: 1250px) {
    .aside {
        float: none;
        width: 100%;
    }
}